<div class="content mat-elevation-z4" fxLayout="column">
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <p [innerHTML]="summary" class="text"></p>
        </div>
        <div fxFlex class="big-side-label mat-elevation-z1"></div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex  class="big-side-label mat-elevation-z1"></div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <p [innerHTML]="hobbies" class="text"></p>
        </div>
    </div>

    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <p [innerHTML]="availability" class="text"></p>
        </div>
        <div fxFlex  class="big-side-label mat-elevation-z1"></div>
    </div>
</div>
