@import '~@angular/material/theming';

.content {
  width: 1000px;
  height: 100%;

  .big-side-label {
    background: map-get($mat-teal, 500);
  }

  .text {
    color: map-get($mat-teal, 500);
    padding: 16px;
    font-size: 1.5em;
    font-style: italic;
    opacity: 0.8;
  }
}
