@import '~@angular/material/theming';

$app-primary: mat-palette($mat-grey, 900);
$app-accent:  mat-palette($mat-deep-orange, 900);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include mat-core();
@include angular-material-theme($app-theme);

.bg-header {
  background: map-get($mat-grey, 900);
  @include mat-elevation(4);
}

.app {
  .main {
    .jp6-h1 {
      p {
        color: white;
        background: map-get($mat-green, 900);
      }

      &.close {
        p {
          color: map-get($mat-green, 900);
          background: map-get($app-primary, 50);
        }
      }
    }

    .top {
      .go-get {
        .ws {
          color: map-get($mat-blue, 500);
        }
      }
    }
  }

  .console {
    background: map-get($mat-blue-grey, 900);
    @include mat-elevation(8);
  }
}