<div class="jp6-h1">
    <p>&lt;jp6rt&gt;</p>
</div>
<div fxLayout="row" fxLayoutAlign="start center" class="go-get">
  <div class="ws">
    <p>&gt; $</p>
  </div>
  <div class="cmd">
    <p>go get -u -d jp6rt.xx/jp6rt --hire</p>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center" class="tech-badges">
  <mat-icon svgIcon="golang"></mat-icon>
  <mat-icon svgIcon="nodejs"></mat-icon>
  <mat-icon svgIcon="angular"></mat-icon>
  <mat-icon svgIcon="aws"></mat-icon>
  <mat-icon svgIcon="docker"></mat-icon>
  <mat-icon svgIcon="mongodb"></mat-icon>
</div>

<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
  <button mat-raised-button color="primary">
    <mat-icon>sms</mat-icon>
    Message
  </button>

  <button mat-raised-button color="primary" (click)="openGithub()">
    <mat-icon svgIcon="github"></mat-icon>
    Github
  </button>
</div>