.main {
  max-width: 650px;
  .jp6-h1 {
    p {
      font-weight: normal;
      font-size: 4em;
      padding: 4px;
      margin: 0;
      display: inline-block;
    }

    &.close {
      text-align: right;
    }
  }
}
