<div class="app-tabs">
  <mat-tab-group headerPosition="below" color="primary" [selectedIndex]="2">

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>build</mat-icon>
          Skill Map
        </ng-template>
        <ng-template matTabContent>
            <app-skill-map></app-skill-map>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Projects
        </ng-template>
        <ng-template matTabContent>
            <app-projects></app-projects>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>face</mat-icon>
          About Me
        </ng-template>
        <ng-template matTabContent>
            <app-about-me></app-about-me>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>work</mat-icon>
          Work Experience
        </ng-template>
        <ng-template matTabContent>
            <app-work-experience></app-work-experience>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>chat_bubble_outline</mat-icon>
          Contact Me
        </ng-template>
        <ng-template matTabContent>
            <app-contact-me></app-contact-me>
        </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
