.bg-header {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.app {
  position: absolute;
  z-index: 2;
  width: 95vw;
  height: 90vh;
  position: 0;
  left: calc(50% - 47.5vw);
  top: 5vh;

  .main {
    height: 90vh;
  }

  .console {
    width: 50%;
    height: 70vh;
    border-radius: 8px;
  }
}
