<div class="app-tabs">
  <mat-tab-group headerPosition="below" color="primary">

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>build</mat-icon>
          Skill Map
        </ng-template>
      Skill Map
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Projects
        </ng-template>
      Projects
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>face</mat-icon>
          About Me
        </ng-template>
      About Me
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>work</mat-icon>
          Work Experience
        </ng-template>
        Work Experience
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>chat_bubble_outline</mat-icon>
          Contact Me
        </ng-template>
      Contact Me
    </mat-tab>

  </mat-tab-group>
</div>
