.experience-container {
  width: 380px;
  height: 450px;
  padding: 16px;

  h2 {
    font-size: 2em;
    font-weight: 500;
    margin: 0;
  }

  .details {
    position: relative;

    .responsibilities {
      p {
        margin: 0;
        &.label {
          margin: 8px 0;
          font-weight: 600;
        }
      }

      ul {
        padding: 0 20px;
      }
    }

    .duration {
      position: absolute;
      bottom: 0;
    }
  }
}
