<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">

  <ng-container *ngFor="let experience of workExperiences">
    <mat-card 
      class="experience-container mat-elevation-z8" 
      [style.background]="experience.color"
      fxLayout="column">        
        <div>
          <h2 [innerHTML]="experience.company"></h2>
          <h3 [innerHTML]="experience.position"></h3>
        </div>
        <div fxFlex class="details">
          <div class="responsibilities">
            <p class="label" [innerHTML]="'Responsibilities'"></p>
            <ul>
              <li *ngFor="let item of experience.responsibilities">
                {{ item }}
              </li>
            </ul>
          </div>

          <div class="duration">
            <p [innerHTML]="experience.duration"></p>
          </div>
        </div>
    </mat-card>
  </ng-container>

</div>
