  <div fxLayout="row" class="stack" [class.position-1]="stack.position" fxLayoutAlign="center center">
    <ng-container *ngIf="stack.position">
      <div class="info" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <h1>{{ stack.header }}</h1> 
        <p *ngFor="let text of stack.info">{{ text }}</p>
      </div>
    </ng-container>
    
    <div class="icon">
      <mat-icon [svgIcon]="stack.icon"></mat-icon>
    </div>
    
    <ng-container *ngIf="!stack.position">
      <div class="info" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <h1>{{ stack.header }}</h1> 
        <p *ngFor="let text of stack.info">{{ text }}</p>
      </div>
    </ng-container>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!stack.hideBorder">
  <div class="stack-bottom"></div>
</div>
